#cuadrado{
    background-color: red;
    height: 20px;
    width: 20px;
    border-radius: 80px;
    position: absolute;

}
 
 .demo{
    float: left;
 }
 
 .space-game{

    margin-right: 1%;
    margin-left: 48%;
}   
.table-game{
    background-color: rgb(9, 211, 110);
    
}
td{
    height: 195px;;    
} 

.img-flag{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 35%;
    left: 45%;
}

.squad1{
    background-color: rgb(50, 16, 16);
    height: 80px;
    width: 80px;
    border-radius: 0px;
    position: absolute;
    top: 50%;
    left: 48%;
}
.squad2{
    background-color: rgb(73, 209, 141);
    height: 40px;
    width: 40px;
    border-radius: 0px;
    position: absolute;
    top: 475.5px;
    left: 469px;
}
