#cuadrado{
    background-color: red;
    height: 40px;
    width: 40px;
    border-radius: 0px;
    position: relative;
    transform:rotate();
 }

 .demo{
    float: left;
 }
 
 .space-game{
    width: 800px;
    height: 600px;
    background-color: aquamarine;
    position: relative;
    float: right;
    margin-right: 100px;
}

.img-flag{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 35%;
    left: 45%;
}